.layoutContainer {
    display: flex;
    flex-direction: row;
    height: 100vh !important;
    width: 100%;
    position: relative;
}

.footer-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.footer p {

    font-size: 1.4rem;
    padding: 0.2rem 0rem 0.2rem 0rem;
}

.sidebarCol {
    display: flex;
    flex: 20%;
}

.mainpagecol {
    display: flex;
    padding-bottom: 1rem;
    height: 100vh;
    flex: 80%;
    flex-direction: column;
    z-index: -1;
}

@media (max-width: 960px) {
    .sidebarCol {
        display: none;

    }

    .mainpagecol {
        flex: 100%;
        margin: 0.8rem;
    }
}