.TrendingBooks-Title {
    display: flex;
    align-items: center;
    margin: 6px;
    padding: 0.4rem 1.8rem 0.4rem 1.8rem;
}

.TrendingBooks-ul {
    padding: 0rem 2rem 0rem 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.TrendingBooks-Title p {
    font-size: 1.5rem;
}

.TrendingBooks-Title svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.TrendingBooks-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: row;
    width: 1/5;
}


.TrendingBooks-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TrendingBooks-li img {
    width: 50%;
    border-radius: 10px;

}

.TrendingBooks-ul h3 {
    padding-top: 0.4rem;
}

.TrendingBooksDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.TrendignBooksDetails p {
    padding-bottom: 0.4rem !important;
}

.TrendingBooks a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
}