.side {
    padding: 20px;
}

.logo {
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
}

.logo img {
    width: 80%;

}

.nav-link {
    display: flex;
    padding: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    transition: all 0.3s ease;
    flex-direction: column;
    padding: 0rem 0.4rem 0rem 0.4rem;
}

.nav-link a {
    color: #000000;
    text-decoration: none;

}

.sidebar-menu {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.sidebar-icon {
    padding: 0.6rem;
}