.WanttoreadContainer {
    display: flex;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0.6rem 0rem 0.6rem 0rem;
    padding: 1rem;
    height: 95vh;
    width: 99%;
    align-items: center;
    justify-content: center;

}

.WanttoreadContainer h3 {
    font-size: 1.2rem;
    font-weight: 400;
}